<nav fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z6">
  <div>
    <a routerLink="/{{rootPath}}" mat-button>Overview</a>
    <a routerLink="/{{rootPath}}/schedule" mat-button>Scheduler</a>
  </div>
  <ng-container *ngIf="auth.user$ | async as user; else loginTempl">
    <button mat-button [matMenuTriggerFor]="menu">
      <img [src]="sanitizedImg(user)" alt="avatar" class="avatar">
      {{user.username}}</button>
  </ng-container>
</nav>

<mat-menu #menu>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
<ng-template #loginTempl>
  <a mat-button (click)="login()">Login</a>
</ng-template>